{% extends 'master.html' %}

{% block content %}
<div style="margin-left:20%;">
<br>
<h1>About us</h1>
<h5>
MemeSV provide Meme templates and pre cutted, filted and  <br>
    edited videos for Meme and Video creators respectively.<br>
</h5>
<br>
<h1>Meme Templates</h1>
<h5>
We provided thousands of meme templates free of cost for<br>
    meme creators, they use meme as fun, information and also as news.<br>
</h5>
<br>
<h1>Videos</h1>
<h5>
We provided thousands of pre cutted, filted and  <br>
    edited videos free of cost for video creators.<br>
    They use our videos for creationg effective intresting videos.<br>
</h5>
<br>
<h1>Mission</h1>
<h5>
We help thousands of meme creators and video creators<br>
that they can use freely which empowers them to create <br>
amazing memes and videos. We call it: "Empowering Creators"<br>
</h5>
<br>
</div>
<br>
<br>
<div style="margin-left:13%;"><h2>Business Inquiries & Contact Information</h2><br></div>
<div style="margin-left:13%;">
    Email: info@knowyourmeme.com<br>
    Mobile no:___________<br>
    Linkedin:____________<br>
    Github:______________<br>
</div>
<br>



<br>

<br>


</h6>
{% endblock content %}>