{% extends 'master.html' %}
{% load static %}

{% block content %}

<div align="center" style="margin-top:2%;">
<a href="{% url 'all' %}"><button type="button" class="btn btn-secondary btn-sm"style="width:5%"> All </button></a>
<a href="{% url 'popular' %}"><button type="button" class="btn btn-secondary btn-sm">Popular</button></a>
<a href="{% url 'web_serise' %}"><button type="button" class="btn btn-secondary btn-sm">Web Series</button></a>
<a href="{% url 'celebrity' %}"><button type="button" class="btn btn-secondary btn-sm">Celebrity</button></a>
<a href="{% url 'anime' %}"><button type="button" class="btn btn-secondary btn-sm">Anime</button></a>
<a href="{% url 'cartoon' %}"><button type="button" class="btn btn-secondary btn-sm">Cartoon</button></a>
<a href="{% url 'random' %}"><button type="button" class="btn btn-secondary btn-sm">Random</button></a>
<a href="{% url 'new' %}"><button type="button" class="btn btn-secondary btn-sm">  New  </button></a>
</div>

<div style="margin-top:4%;">
    {% if sr %}
<div class="row">
{% for k in sr %}
    <div class="col-lg-3 col-md-4 col-12">
<div class="card text-white bg-secondary mb-3" style="width: 18rem;height:-5%;">
  <img class="card-img-top" src="{{k.image.url}}" alt="Card image cap">
  <div class="card-body" style="margin-top:-7.5%;">
    <h5 class="card-title">{{ k.category}}</h5>
    <p class="card-text">{{ k.description}}</p>
    <a href="{{k.image.url}}" class="btn btn-primary" DOWNLOAD>Download</a>
  </div>
</div>
    </div>
{% endfor %}
</div>
{% endif %}
</div>

{% if temp %}
<div class="row">
{% for k in temp %}


    <div class="col-lg-3 col-md-4 col-12">
<div class="card text-white bg-secondary mb-3" style="width: 18rem;height:-5%;">
  <img class="card-img-top" src="{{k.image.url}}" alt="Card image cap" style="height:280px;">
  <div class="card-body" style="margin-top:-7.5%;">
    <h5 class="card-title">{{ k.category}}</h5>
    <p class="card-text">{{ k.description}}</p>
    <a href="{{k.image.url}}" class="btn btn-primary" DOWNLOAD>Download</a>
  </div>
</div>
    </div>
{% endfor %}
</div>
{% endif %}
</div>
{% endblock %}