
{% extends 'master.html' %}

{% block content %}

<h1 align="center">welcome {{request.user.username}}</h1>
<div class="container-fluid" style="margin-top:4%;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-4 bg">
<div align="center">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{request.user.userprofile.image.url}}" alt="Card image cap" >
  <div class="card-body">
    <h5 class="card-title">Username:{{user.username}}</h5>
	<h5 class="card-title">Name:{{user.first_name}} {{user.last_name}}</h5>
	<h5 class="card-title">Email:{{user.email}}</h5>
	<h5 class="card-title">Mobile no:{{user.userprofile.mobile_no}}</h5>
    <p class="card-text">Bio:{{user.userprofile.bio}}</p>
    <a href="{% url 'updateprofile' %}" class="btn btn-primary">Check updated or not</a>
  </div>
</div>
</div>
      </div>


      <div class="col-sm-9 col-md-6 col-lg-6 ">
       <div class="container">
           <img src="{{request.user.userprofile.image.url}}" style="border-radius:50%;width:30%;height:31%;">
<form method="POST" enctype="multipart/form-data">
{% csrf_token%}
{{u_form.as_p}}
{{p_form.as_p}}
    <button type="submit">update</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>






<h1>welcome {{request.user.username}}</h1>
<div  style="margin-right:30%;margin-left:25%;margin-top:20%;" >
    <div class="container">
<form method="POST" enctype="multipart/form-data">
{% csrf_token%}
<img class="img" src="{{request.user.userprofile.image.url}}" style="border-radius:50%;width:30%;height:31%;">
{{u_form.as_p}}
{{p_form.as_p}}
    <button type="submit">update</button>
</form>
</div>
</div>



{% endblock content %}